
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
h1{

	text-align: center;
	color :#4F4F4F;
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 0.56rem;
	margin-top: 2rem;
	font-family: 'Roboto', sans-serif;
}
h2{
	text-align: center;
	color :#4F4F4F;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 1.44rem;
	margin-top: 6.04rem;
	font-family: 'Roboto', sans-serif;
}

.main_container{
	max-width: 97.5rem;
}

.nav_row{
	background-color: #525252;
	opacity: 0.7;
	max-width: 1560px;
}
ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}

.nav_btn{
height : 40px ;
color: white;
background-color: #29626D;
border: 1px solid #FFFFFF80;
border-radius: 40px;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}

.banner{
	height: 100%;
	width: 100%;
}

.main_container{
	overflow-x: hidden;
}
.about_para_row{
	margin-top:2.43rem;/* 
	padding-top: 1.25rem; */
}
.about_para_col{


	max-width: 61.98rem;

}
.about_first_container_para{

	font-size: 16px;
	font-weight: normal;
	color: #4F4F4F;
	line-height: 1.5rem;/* 
	padding-top: 1.25rem; */

}
.about_para_col_2{

	max-width: 61.98rem;
	color: #646464;
}

h3{
	font-size: 17.99px;
	color: #353548;
	font-weight: bold;
}
.newsletter input{
max-width: 14.6em;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
padding-left: 22px;
padding-top: 7px;
padding-bottom :  13px;
}
.newsletter button{
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
margin-left: 11px;
}

.footer{
	background-color: #111111;
	padding-top: 5px;

}
.footer ul{
	margin-top: 1rem;
}
.footer ul li a{
	font-size: 14px;
}

.social-media{
	text-align: center;
	display: flex;
	margin: auto;
}
  



/* cookie */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #525252;
	opacity: 0.9;
    font-size: 14px;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
}

.cookiealert .acceptcookies {

    background: #EED507 0% 0% no-repeat padding-box;
    width: 99px;
    height: 40px;
    border-radius: 20px;
    vertical-align: baseline;
}
