@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
[type=checkbox] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
:root {
  --primary-color: #1D7A8C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background:rgba(0,0,0,0.5);
}
h1{

	text-align: center;
	color :#4F4F4F;
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 0.56rem;
	margin-top: 2rem;
	font-family: 'Roboto', sans-serif;
}

h2{
	text-align: center;
	color :#4F4F4F;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 1.44rem;
	margin-top: 6.04rem;
	font-family: 'Roboto', sans-serif;
}
h3{
	font-size: 17.99px;
	color: #353548;
	font-weight: bold;
	margin-top: 4rem;
	text-align: center;
}

.main_container{
	max-width: 97.5rem;
	overflow-x: hidden;
}

.banner{
	   width: 100%;
	   height: auto;
}
/* NAVBAR */
.nav_row{
	background-color: #525252;
	opacity: 0.7;
	max-width: 97.5rem;

}
ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;
}
ul li a {
color : white;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;
text-decoration: none;

}
.btn:hover{
color: white;
border: 1px solid #FFFFFF80;
border-radius: 40px;
text-decoration: none;
}
.active:hover{
	background-color: white;
	color: #29626D;
}
.sticky{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}
.sticky .navrow{
	background-color: #424242;
	opacity: 1;
}
.nav_btn{
width: 161px;
height : 40px ;
color: white;
border: 1px solid #FFFFFF80;
border-radius: 40px;
background-color: #29626D;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}
.logo{
	width: 76px;
	height: 54px;
}
.badge {
        position: relative;
        top: -15px;
        left: -10px;
        border-radius: 50%;
        color: #fff;
        background-color: red;
       }

/* NAVBAR END */


/* Request Process */
/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

.form input {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-20 {
  width: 20%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  counter-reset: step;
  margin: 2rem 0 4rem;
}


.progress-step {
  width: 12rem;
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow:1px 2px 2px 2px #ccc;
}

.progress-step span {
  
  margin-right: 2px;
  height: 50%;
  width: auto;
  z-index: 1;
  overflow: hidden;
}


.progress-step-active {
  background-color: #1D7A8C;
  color: #f3f3f3;
  position: relative;
  z-index: 1;
  overflow: visible;

}
.progress-step-active::after{
  content: '';
  position: absolute;
  top: 70%;
  right: 50%;
  width: 25px;
  height: 50%;
  background-color: #1D7A8C;
  transform: rotateZ(55deg);
  
}
.progress-step-active span {
  height: 50%;
  width: auto;
  z-index: 1;
  overflow: hidden;
 
}

.progress-step-active span img {
  transform: rotateZ(180deg);
  
}
.progress-step-active span {
  transform: rotateZ(180deg);
  
}
/* error messages */

/* Form */

.active-service {
  
  margin-right: 2px;
  height: 50%;
  width: auto;
  z-index: 1;
  overflow: hidden;
}
.form  {
  border-radius: 0.35rem;
  padding: 1rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}
@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}
.input-group label{
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
 }
 hr{
 	border-bottom: 1px solid #ccc ;
 	width: 97%;
 	margin-left: 1rem;

 }

 /* Step 2  */
.datepicker-7 {

    background:url("../images/Book_Service/calendar.png") left no-repeat;
    background-origin: content-box;
    text-indent: 25px;
	cursor: pointer;
}
.services{
	 padding:1.50rem;
	 margin-bottom:0.87rem; 
	 border: 1px solid #ccc;
	 height:6.75rem;
	 width:6.75rem;
	 border-radius: 50%;
	 cursor: pointer;
}
.services-active{
	  padding:1.50rem;
	 margin-bottom:0.87rem; 
	 height:6.75rem;
	 width:6.75rem;
	 border-radius: 50%;
	 border: 2px solid #1D7A8C;
	 cursor: pointer;
	 
}
.comment{
	border: 1px solid #ccc;
	width: 100%;
}

/* Step 3 */

/* Button */
.btn1 {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 23px;
  /* width: 141px; */
  height: 46px ;
  cursor: pointer;
  transition: 0.3s;
}
.cancel{
	padding: 0.75rem;
  display: block;
  text-decoration: none;
  color:  var(--primary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  border-radius: 23px;
  /* height: 46px ; */
  cursor: pointer;
}
.cancel:hover{
	text-decoration: none;
	color: white;
	background-color: var(--primary-color);
}
.btn1:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  text-decoration: none;
  color: white;

}
.btn2{
  border: 1px solid #1D7A8C;
  padding: 0.50rem;
  display: block;
  text-decoration: none;
  color: #1D7A8C;
  text-align: center;
  border-radius: 23px;
  height: 46px ;
  cursor: pointer;
}
.btn2:hover{
	text-decoration: none;
	color: #1D7A8C;
}
.btn3{
	padding: 0.37rem 1.5rem;
	border:1px solid #ccc;
	text-decoration: none;
}
.btn3:hover{
	background-color: #1D7A8C;
	color: white;
	font-weight: bold;
	border: 1px solid #ccc;
}
.favourite_sp img:hover{
	border-radius: 50%;
	border: 2px solid #1D7A8C;
}

.favourite_sp_active{
	border: 2px solid #1D7A8C;
	border-radius: 50%;
}
.btn3_active{
	background-color: #1D7A8C;
	color: white;
	font-weight: bold;
	border: 1px solid #ccc;
}
.form_container{
	display: none;
}
.form_show{
	display: block;
}



/* Step 4  */
/* Succes msg popup */
.modal-confirm {    
    color: #636363;
    width: 450px;
    margin: 30px auto;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
        position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm .close {
        position: absolute;
    top: -5px;
    right: -5px;
  } 
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  } 
  .modal-confirm .icon-box {
    color: #fff;    
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
  }
  .modal-confirm.modal-dialog {
    margin-top: 80px;
  }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
        border: none;
    }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }


/* Sidebar */

.sidebar_col{
	box-shadow:1px 1px 1px 2px #ccc ;
}
.sidebar{
	margin-top: 3rem;
	background-color: var(--primary-color);
	color: white;
	font-weight: bold;
	height: 65px;
	box-shadow:1px 2px 2px 2px #ccc;
}
.sidebar_col p{
	color: #4F4F4F;
	margin-bottom: 0px;
	font-size: 1rem;
}
/* Table  */
.sidebar_col table tr td{
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}
.sidebar_col table td:nth-child(1) {
	color: #4F4F4F;
}
.sidebar_col table td:nth-child(2) {
	text-align: right;
	color: #646464;
}
.border_bottom{
	border-bottom: 1px solid #ddd;
}
.total{
	color: #1D7A8C;
	font-weight: bold;
	font-size: 1.3rem;
    text-align: left;
}
.smiley_div{
	margin-top: 9px;
	background-color: #F3F3F3;
	padding: 2px;
}
.smiley_div p{
	color: #8D8D8D;
	font-size: 14px;
}
.smiley_div span{
	 margin-right:2.5px;
	 margin-left: 1.15rem;
}

/* Questions */
.card{
	border-style: none;
}
.card-header{
	background-color: white;
}

.card p,.card-body{
	font-size: 14px;
	color: #4F4F4F;
}
.card-header .icon {
  transform: rotate(90deg);
  transition: .2s transform ease-in-out;
  display: inline-block;
}

.card-header .collapsed .icon {
  transform: rotate(0deg);
}

.newsletter input{
max-width: 14.6em;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
padding-left: 22px;
padding-top: 7px;
padding-bottom :  13px;
}
.newsletter button{
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
margin-left: 11px;
}

.footer{
	background-color: #111111;
	padding-top: 5px;

}
.footer ul{
	margin-top: 1rem;
}
.footer ul li a{
	font-size: 14px;
}

.social-media{
	text-align: center;
	display: flex;
	margin: auto;
}
  



/* cookie */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #525252;
	opacity: 0.9;
    font-size: 14px;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
}

.cookiealert .acceptcookies {

    background: #EED507 0% 0% no-repeat padding-box;
    width: 99px;
    height: 40px;
    border-radius: 20px;
    vertical-align: baseline;
}
/* Loading color */
