#676767
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
h1{

	text-align: center;
	color :#4F4F4F;
	font-size: 35.95px;
	font-weight: bold;
	margin-bottom: 9px;
	margin-top: 32px;
	font-family: 'Roboto', sans-serif;
}
h2{
	text-align: center;
	color :#4F4F4F;
	font-size: 28px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 1.44rem;
	margin-top: 6.04rem;
	font-family: 'Roboto', sans-serif;
}

.main_container{
	max-width :  1560px;
}

.nav_row{
	background-color: #676767;
	opacity: 1;
	max-width: 1560px;
}
ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}

.nav_btn{
height : 40px ;
color: white;
background-color: rgba(52, 109, 117 , 0.5);
border: 1px solid #FFFFFF80;
border-radius: 40px;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}

.banner{
	height: 100%;
	width: 100%;
}

.main_container{
	overflow-x: hidden;
}

.contact_logo_row{
	margin-top:2.43rem;
}
.contact_logo_para{

	font-size: 16px;
	font-weight: normal;
	color: #4F4F4F;
	line-height: 1.5rem;
	padding-top: 1.25rem;

}

.mail{
	padding-top: 1.75rem;
}
.form_container{
	max-width: 38.38rem;
}
::placeholder { 
  color: #A0A0A0;
}
.sub_btn{
	background: #1D7A8C 0% 0% no-repeat padding-box;
	border-radius: 23px;
	color: #FFFFFF;
	font-size: 20px;
	width: 163px;
	height: 46px;

}
.map_container{
	padding:5rem 0rem 2.68rem 0rem;
}
.map{
	width: 100%;
	height: 100%;
}
 .pin{
 	margin-left: 40.30rem;
 	margin-top: -11.37rem;
 	margin-bottom: -9.43rem;
 	margin-right: 50.30rem;

} 
h3{
	font-size: 17.99px;
	color: #353548;
	font-weight: bold;
}
.newsletter input{
max-width: 14.6em;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
padding-left: 22px;
padding-top: 7px;
padding-bottom :  13px;
}
.newsletter button{
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
margin-left: 11px;
}

.footer{
	background-color: #111111;
	padding-top: 5px;

}
.footer ul{
	margin-top: 1rem;
}
.footer ul li a{
	font-size: 14px;
}

.social-media{
	text-align: center;
	display: flex;
	margin: auto;
}
  



/* cookie */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #525252;
	opacity: 0.9;
    font-size: 14px;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
}

.cookiealert .acceptcookies {

    background: #EED507 0% 0% no-repeat padding-box;
    width: 99px;
    height: 40px;
    border-radius: 20px;
    vertical-align: baseline;
}
