@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h1{

	text-align: center;
	color :#4F4F4F;
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 0.56rem;
	margin-top: 2rem;
	font-family: 'Roboto', sans-serif;
}
h2{
	text-align: center;
	color :#4F4F4F;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 1.44rem;
	margin-top: 6.04rem;
	font-family: 'Roboto', sans-serif;
}
.register{
	width: 16.87rem;
	height: 16.87rem;
	border-radius: 50%;
}
.right-bg{
	padding: 2.5rem;
}

.main_container{
	max-width: 97.5rem;
	overflow-x: hidden;
}

.banner{
	
	border: 0.1px solid white;
	   width: 100%;
	   height: 58.120rem;
	   background-size:cover ;
	   background: url('../images/Become_a_Pro/become-a-pro-banner.png');
}
.nav_row{
	background-color: #525252;
	opacity: 0.7;
	max-width: 97.5rem;

}
ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}
.sticky .logo{
	width: 85px;
	height: 50px;
}
.sticky .navrow{
	background-color: #424242;
	opacity: 1;
}

.nav_btn{
width: 161px;
height : 40px ;
color: white;
border: 1px solid #FFFFFF80;
border-radius: 40px;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}
.nav_btn_login
{
	width: 97px;
}
.form_container{
	max-width: 26.87rem;
	box-shadow: 0px 0px 16px #00000026;
	background-color:#FFFFFF;
	margin-top: 4.18rem;
	color: #4F4F4F;
}
.form-heading{
	padding-top: 1.18rem;
}
::placeholder { 
  color: #A0A0A0;
}

.form-row{
	margin:auto 2.25rem;

}
input.check{
	width: 20px;
	height: 20px;
	border: 1px solid #C8C8C8;

}
.right-arrow{
	width: 30px;
	margin-left: 8.01px;
}
.sub_btn{
	background: #1D7A8C 0% 0% no-repeat padding-box;
	border-radius: 23px;
	color: #FFFFFF;
	font-size: 16px;
	width: 168px;
	height: 48px;
	font-weight: bold;
	margin-bottom: 19px;

}
.down_arrow{
	width: 40px;
	height: 40px;
	margin-top: 44px;
	margin-bottom: 30px;
}

.readmore{
	font-size: 18px ;
	color:#4F4F4F;
}

h3{
	font-size: 17.99px;
	color: #353548;
	font-weight: bold;
	margin-top: 4rem;
}
.newsletter input{
max-width: 14.6em;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
padding-left: 22px;
padding-top: 7px;
padding-bottom :  13px;
}
.newsletter button{
width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
margin-left: 11px;
}

.footer{
	background-color: #111111;
	padding-top: 5px;

}
.footer ul{
	margin-top: 1rem;
}
.footer ul li a{
	font-size: 14px;
}

.social-media{
	text-align: center;
	display: flex;
	margin: auto;
}
  



/* cookie */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #525252;
	opacity: 0.9;
    font-size: 14px;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
}

.cookiealert .acceptcookies {

    background: #EED507 0% 0% no-repeat padding-box;
    width: 99px;
    height: 40px;
    border-radius: 20px;
    vertical-align: baseline;
}

