@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.card{
	border-style: none;
}
.card-header{
	background-color: white;
}

.card-header .icon {
  transform: rotate(90deg);
  transition: .2s transform ease-in-out;
  display: inline-block;
}

.card-header .collapsed .icon {
  transform: rotate(0deg);
}
.main_container{
	max-width :  1560px;
}

.nav_row{
	background-color: #525252;
	max-width: 1560px;
}
ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}
.nav_btn{
height : 40px ;
color: white;
background-color: rgba(52, 109, 117 , 0.5);
border: 1px solid #FFFFFF80;
border-radius: 40px;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}

.banner{
	height: 100%;
	width: 100%;
}

.faq{
	color :#4F4F4F;
	font-size: 35.95px;
	font-weight: bold;
	margin-bottom: 9px;
	margin-top: 32px;
}

.container2{
	font-size: 18px;
	color: #646464;
	margin-top: 34px;
	max-width: 931px

}

.newsletter_head{
	font-size: 17.99px;
	color: #353548;
}

.newsletter input{
	max-width: 14.6em;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
padding-left: 22px;
padding-top: 7px;
padding-bottom :  13px;
}
.newsletter button{
	width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
margin-left: 11px;
}

.footer{
	background-color: #111111;

}
.footer ul{
	margin-top: 1rem;
}
.footer ul li a{
	font-size: 14px;
}
  
