a:hover{
	text-decoration: none;
}
/* Login sidebar class */
.navbar ul li a{
  text-decoration: none;
}
.navbar ul li a:hover{
  border-bottom: 1px solid grey;
  transition:all 0.5s;
  color: #fff;
}

.nav_row{
	background-color:  #676767;
	opacity: 1;
	max-width: 1560px;
}

ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}
ul li a:hover{
color: white;
border: 1px solid #FFFFFF80;
border-radius: 40px;
font-weight: bold;

}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}

.nav_btn{
height : 40px ;
color: white;
background-color: rgba(52, 109, 117 , 0.5);
border: 1px solid #FFFFFF80;
border-radius: 40px;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}
.nav_btn:hover{
    background-color: rgb(52, 109, 117 );
    color: white;
    font-weight: bold;
}

