@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a:hover{
	text-decoration: none;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color :  white;
}
html,header,body{
	height :  100vh;
	width :  100%;
	scroll-behavior: smooth;
}
h3{
	font-size: 17.99px;
	color: #353548;
	font-weight: bold;
}
.main_container{
	max-width :  1560px;
	overflow-x: hidden;
	padding: 0px;
}

.nav_row{
	background-color:  #676767;
	opacity: 1;
	max-width: 1560px;
}
ul{
	margin: 0px;
}
ul li{
	list-style: none;
	display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}
ul li a:hover{
color: white;
border: 1px solid #FFFFFF80;
border-radius: 40px;
font-weight: bold;
}
.sticky{
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}

.nav_btn{
height : 40px ;
color: white;
background-color: rgba(52, 109, 117 , 0.5);
border: 1px solid #FFFFFF80;
border-radius: 40px;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 7px;
margin-right: 7px;

}
.nav_btn:hover{
    background-color: rgb(52, 109, 117 );
    color: white;
    font-weight: bold;
}
.banner{
	height: 100%;
	width: 100%;
}

.prices{
	color :#4F4F4F;
	font-size: 35.95px;
	font-weight: bold;
	margin-bottom: 9px;
	margin-top: 32px;
}
.main_container{
	overflow-x: hidden;
}

.container2{
	margin-top: 1.94rem;
	max-width: 553px
}

.container3{
	margin-top: 3.18rem;
	max-width: 71.25rem;
	border-top: 1px solid #CCCCCC
}

.container4{
	background-color: #F6F6F6;
	margin-top: 8.07rem;
	margin-bottom: 4.44rem;

}

.container5{
	max-width: 65.31rem;
}

.newsletter_head{
	font-size: 17.99px;
	color: #353548;
}

.newsletter input{
	max-width: 14.6em;
height: 40px;
background: #F4F5F8 0% 0% no-repeat padding-box;
border: 1px solid #565656;
border-radius: 20px;
opacity: 1;
padding-left: 22px;
padding-top: 7px;
padding-bottom :  13px;
}
.newsletter button{
	width: 88px;
height: 40px;
background: #FF7B6D 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
margin-left: 11px;
}

.footer{
	background-color: #111111;
	padding-top: 5px;

}
.footer ul{
	margin-top: 1rem;
}
.footer ul li a{
	font-size: 14px;
}
.footer ul li a:hover{
	color: rgb(52, 109, 117);
}
.social-media{
	text-align: center;
	display: flex;
	margin: auto;
}
  



/* cookie */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #525252;
	opacity: 0.9;
    font-size: 14px;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
}

.cookiealert .acceptcookies {

    background: #EED507 0% 0% no-repeat padding-box;
    width: 99px;
    height: 40px;
    border-radius: 20px;
    vertical-align: baseline;
}
/* style="padding-left:115px ; padding-right: 115px;" */